name: CI

on:
  pull_request:
    branches:
      - dev
      - test
      - staging
      - main

permisions:
  contents: read

jobs:
  changes:
    name: Detect changes
    runs-on: ubuntu-latest
    outputs:
      frontend: ${{ steps.filter.outputs.frontend}}
      gateway: ${{ steps.filter.outputs.gateway}}
      bff: ${{ steps.filter.outputs.bff}}
      auth: ${{ steps.filter.outputs.auth}}
    steps:
      - uses: actions/checkout@v4

      - name: Filter paths
        id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            frontend:
              - 'frontend/**'
            gateway:
              - 'backend/Gateway.Api/**'
            bff:
              - 'backend/Web.Bff.Api/**'
            auth:
              - 'backend/Auth.Api/**'

  frontend:
    name: Frontend build/test
    needs: changes
    if: needs.changes.outputs.frontend == 'true'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: frontend
    steps:
      - uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: npm
          cache-dependency-path: frontend/package-lock.json

      - name: Install
        run: npm install

      - name: Build
        run: npm run build

  gateway:
    name: Gateway build/test
    needs: changes
    if: needs.changes.outputs.gateway == 'true'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend/Gateway.Api
    steps:
      - uses: actions/checkout@v4

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '8.0.x'

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build -c Release --no-restore

  bff:
    name: Web.Bff.Api build/test
    needs: changes
    if: needs.changes.outputs.bff == 'true'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend/Web.Bff.Api
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build -c Release --no-restore

  auth:
    name: Auth.Api build/test
    needs: changes
    if: needs.changes.outputs.auth == 'true'
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: backend/Auth.Api
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "8.0.x"

      - name: Restore
        run: dotnet restore

      - name: Build
        run: dotnet build -c Release --no-restore
